* {
    box-sizing: border-box;
}

body {
    width: 960px;
    font-family: 'IBM plex serif', serif;
    margin: 0 auto;
}

main {
    margin-top: 30px;
    border-top: dashed 10px gray;
    border-bottom: dashed 10px gray;
}

#logo {
    padding-top: 30px;
    margin-right: 326px;
    display: inline-block;
    width: 400px;
}

#logo img{
    padding-right: 15px;
    float: left;
    height: 50px;
}

#social {
    display: inline-block;
    padding-left: 8px;
}
#social li, #social ul{
    display: inline-block;
}
#cake {
    width: 960px;
}
h4 {
    font-family: "yellow-tail", cursive;
    font-size: 2.3em;
}
h5 {
    font-family: "vt323", monospace;
    color: gray;
    font-size: 13px;
    margin-left: 7px;
}
h1 {
    font-family: "francis 1", sans-serif;
    font-size: 30px;
    margin-top: 1em;
    font-weight: bold;
}
h2 {
    font-family: "vt323", monospace;
    color: gray;
    font-size: 13px;
}

#list img {
    width: 960px;
}
#ingredients {
    position: relative;
    bottom: 265px;
    padding-left: 60px;
}

.col {
    display:inline-block;
    list-style: none;
    width: 400px;
    font-size: 24px;;
}
#col1 {
    position:relative;
    bottom: 24px;
}

#info {
    display: inline-block;
}
#print {
    display: inline-block;
    position: relative;
    left: 580px;
}
#cake {
    margin-top: 30px;
}
article p {
    text-indent: 30px;
    margin-top: 30px;
    max-width: 960px;
}
#list {
    margin-top: 30px;
}

#about-author {
    position: relative;
    top: 60px;
    margin-top: -20px;
}

#about-author p, #about-author button {
    display: inline-block;
}
#van {
    float: left;
    margin-right: 20px;
}
h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
#about-author p {
    max-width: 550px;
}

footer{
    margin-top: 60px;
    text-align: center;
}
button {
    position: relative;
    left: 100px;
    bottom: 25px;
    width: 150px;
    height: 50px;
    background-color: brown;
    color: white;
}
footer img {
    margin-bottom: 30px;
}
footer {
    margin-bottom: 40px;
}